<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Conputer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>My.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>delegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>protocal.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>static 仓库货物管理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>string使用.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>temp2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>template.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>test1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>test2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>test3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>this 指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>vptr---.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>单例模式.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>多态.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>多继承.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>拷贝构造函数.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>时间类.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>父类指针指向子类对象.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>类=重载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>继承.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>自定义String重载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>自定义数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>虚函数表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>运算符重载.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>链表.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>静态成员变量.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>040AE7441CFBEDC1005A3AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040AE74F1CFC210E005A3AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040AE75A1CFC26EF005A3AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040AE7651CFC2918005A3AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>040AE7701CFC512C005A3AFA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043BD0391D0AAC9E0084665B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>043BD0441D0AAFF20084665B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0450187E1CFF3EAF008527BC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047C35FF1D000A1A00494512</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A532131D0267B50064AD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A5321E1D0273FC0064AD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A5322C1D02B7DA0064AD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A5323D1D02C4F10064AD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04A532481D02FF7A0064AD85</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B289741D0114B100E7DC45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B2897F1D01280800E7DC45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B289C31D01311B00E7DC45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B289CE1D01340000E7DC45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B289D91D016E9800E7DC45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B289E41D01982800E7DC45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B95A151CFE6FFE007FB6F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04B95A201CFECB14007FB6F3</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D5B9111CFD2055005A6C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D5B91C1CFD33A0005A6C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D5B9271CFD3B33005A6C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D5B9351CFD7945005A6C11</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D6A4111CF9B87300124E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
