<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>07位运算习题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>C提高阶段习题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>MemoryPool.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>day03习题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>delegate.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>erjis.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ios-app.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>jiegouticanshu.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>lianbiao.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>macca.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>maccaTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>sss.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>temp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>test.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>test1cpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>test2Cpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>test3cpp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>test4.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>test5.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>test6.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>xuyuanyuan.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>内存泄露检查.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>函数指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>指针数组.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>数组与指针.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>数组习题.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>数组指针练习.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>案例C++管理系统.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>线程池.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>结构体存储.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>获取文件大小.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>042980DF1CEC1EC800603537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042980EA1CEC611D00603537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042981021CEC611D00603537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0429810D1CEC611D00603537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042981211CEC670500603537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>042F19131CF34319002FB399</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0454A7AF1CF3EC2500FDFB3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>0454A7BA1CF3FAD400FDFB3D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>046922F81CF8386C00FF9F5A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047521C51D051A67002B28CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047521DF1D05255F002B28CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047521EA1D05261E002B28CA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047C540E1CEB355200F38752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047C54191CEB357900F38752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>047C54241CEB35E400F38752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>048F40821CEC8F1C00751AFC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04AE0D851CF2F34C00AD450E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04AE0D9D1CF2F34C00AD450E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04AE0DA81CF2F34C00AD450E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04C802781CF530DA00BB5747</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB86AC1CEF237900353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB86B71CEF270300353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB86C21CEFEACB00353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB86CD1CF006A700353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB86D81CF042A900353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB86E31CF04AA300353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB86FB1CF04AA300353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB87061CF04AA300353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04CB871A1CF04D2200353AC1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D1F7CF1CF7DA1F00C60430</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D6A3E21CF924C200124E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D6A3ED1CF9776D00124E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D6A3FB1CF9AC4800124E25</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04DE73D81CF45343006739A2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E105961CEE14E200A509ED</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E8D2981CEEA0FF00FF3D57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E8D2A31CEEAFCA00FF3D57</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04FE5FB01CE70AFA00F7E00A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
