<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyNumber.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>MyVector.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>STLDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>mobenlei.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>string类模板常用方法.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>异常处理.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>04494FB51D07B933003379C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04D0A76B1D05612300E94667</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04E6C8391D0C28820061A0C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F9EDF41D06602D009C7F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F9EDFF1D06749C009C7F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>04F9EE0D1D06AB5B009C7F45</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
